* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(30deg, #c5e9246e, #0be9b196);
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  background: rgba(9, 214, 136, 0.288);
}

td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.inputCurrentArea {
  width: inherit;
}
.suggest {
  max-height: 150px;
  position: absolute;
  background: linear-gradient(30deg, #c5e9246e, #0be9b196);
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.suggest div {
  width: 100%;
  text-align: center;
}
.suggest div:hover {
  background-color: greenyellow;
}

.currentArea {
  width: 100%;
}
